@charset "UTF-8";
/* CSS Document */
html {
	background-image: linear-gradient(top, #ffffff 45%, #b2eea3 100%);
	background-image: -o-linear-gradient(top, #ffffff 45%, #b2eea3 100%);
	background-image: -moz-linear-gradient(top, #ffffff 45%, #b2eea3 100%);
	background-image: -webkit-linear-gradient(top, #ffffff 45%, #b2eea3 100%);
	background-image: -ms-linear-gradient(top, #ffffff 45%, #b2eea3 100%);
	font-family: "Arial", sans-serif;
}

#main_container {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
}

#cabecera {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#menu_container {
	padding-bottom: 50px;
}

#menu_option {
	float: left;
	width: 300px;
	height: auto;
	margin-top: 13px;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 2%;
	background-color: #b2eea3;
	font-size: 20px;
	font-weight: bold;
}

#infobar_admin {
	width: 900px;
	height: 3px;
	margin-top: 30px;
	text-align: center;
	background-color: #ff9000;
}

#infobar_public {
	width: 900px;
	height: 17px;
	margin-top: 30px;
	text-align: center;
}

#management_container {
	padding-top: 27px;
	text-align: center;
	width: 370px;
	margin: 0 auto;
	overflow: auto;
}

#option_container {
	padding-top: 27px;
	text-align: center;
	width: 70%;
	margin: 0 auto;
	overflow: auto;
}

#login_container {
	padding-top: 27px;
	text-align: center;
	width: 40%;
	margin: 0 auto;
	background-color: #62a552;
	overflow: auto;
}

#text {
	padding-top: 27px;
	text-align: justify;
	width: 70%;
	margin: 0 auto;
	overflow: auto;
}

#recent_container {
	padding-top: 27px;
	text-align: center;
	width: 800px;
	margin: 0 auto;
	overflow: auto;
}

#padding {
	text-align: center;
	width: 900px;
	height: 27px;
	overflow: auto;
}

.td_submit {
	text-align: right;
}

.error {
	color: red;
	font-size: 120%;
}

.success {
	color: olive;
	font-size: 120%;
}

table,td,th,tr {
	padding: 12px;
	text-align: left;
}