
<hr>
<div align="center">
	<table>
		<tr>
			<td><a
				href="mailto:alujan@uji.es?subject=Kirbys%20Assistance&body=Type%20here%20your%20question/request.">Contact
					Us</a></td>
			<td><a
				href="${pageContext.request.contextPath}/main/help/faq.html">
					Help</a></td>

		</tr>
	</table>
</div>