<div id="option_container">
	<h2>Recently added</h2>
</div>
<div id="recent_container">
	<table>
		<tr>
			<td><img
				src="${pageContext.request.contextPath}/res/XMenCover.png" /></td>
			<td><img
				src="${pageContext.request.contextPath}/res/FMACover.png" /></td>
			<td><img
				src="${pageContext.request.contextPath}/res/DragonBallCover.png" /></td>
			<td><img
				src="${pageContext.request.contextPath}/res/SakuraCover.png" /></td>
			<td><img
				src="${pageContext.request.contextPath}/res/DeathNoteCover.png" /></td>
			<td><img
				src="${pageContext.request.contextPath}/res/BleachCover.png" /></td>
		</tr>

	</table>
</div>
